 <!-- <h1><%=name %></h1> -->
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Career Finder </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">

		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/price_rangs.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
   </head>

   <body>
    <div>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
               
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="/loggedin">Home</a></li>
                                            <li><a href="#postjob">Post Jobs </a></li>
                                            
                                         
                                           
                                        </ul>
                                    </nav>
                                </div>          
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                    <!-- <a href="signin.html" class="btn head-btn1">Register</a> -->
                                    <!-- <a href="Register/login.html" class="btn head-btn2">Login</a> -->
                                   <h5><%=name%></h5> 
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Welcome to Company Login</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Our Services Start -->
        
        <!-- Our Services End -->
        <!-- Online CV Area Start -->
         <br/><br/><br/>
        <!-- Online CV Area End-->
        <!-- Featured_job_start -->
        <div id="postjob" class="formbold-main-wrapper">
            <!-- Author: FormBold Team -->
            <!-- Learn More: https://formbold.com -->
            <div class="formbold-form-wrapper">
              
             
          
              <form id="post" action="/postjob" method="POST">
                <div class="formbold-form-title">
                  <h2 class="" >Post a Role/Job</h2>
                 
                </div>
          
               
                  <div>
                    <label for="jobname" class="formbold-form-label">
                      Job Role
                    </label>
                    <input
                      type="text"
                      name="jobname"
                      id="jobname"
                      class="formbold-form-input"
                    />
                  </div>
                  
               
               
                
          
                <div class="formbold-mb-3">
                  <label for="address" class="formbold-form-label">
                    Job Description
                  </label>
                  <textarea class="formbold-form-input" rows="4" cols="50" name="description" form="post">
                    </textarea>
                </div>
                <div class="formbold-mb-3">
                  <label for="address" class="formbold-form-label">
                    Required Skills
                  </label>
                  <textarea class="formbold-form-input" rows="4" cols="50" name="skills" form="post">
                    </textarea>
                </div>
                <div>
                  <label for="salary" class="formbold-form-label"> salary </label>
                  <input
                    type="text"
                    name="salary"
                    id="salary"
                    class="formbold-form-input"
                  />
                </div>
                <div>
                  <label for="vacancy" class="formbold-form-label"> vacancy </label>
                  <input
                    type="text"
                    name="vacancy"
                    id="vacancy"
                    class="formbold-form-input"
                  />
                </div>
                <div>
                  <label for="experience" class="formbold-form-label"> Experience </label>
                  <input
                    type="text"
                    name="experience"
                    id="experience"
                    class="formbold-form-input"
                  />
                </div>
                <div>
                  <label for="lastname" class="formbold-form-label"> Company Name</label>
                  <input
                    type="text"
                    name="companyname"
                    id="companyname"
                    class="formbold-form-input"
                  />
                </div>
                <div>
                  <label for="email" class="formbold-form-label"> Email </label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="formbold-form-input"
                  />
                </div>
                <div class="formbold-mb-3">
                  <label for="address2" class="formbold-form-label">
                    Location/Address
                  </label>
                  <input
                    type="text"
                    name="address"
                    id="address"
                    class="formbold-form-input"
                  />
                </div>
          
                <div class="formbold-input-flex">
                  <div>
                    <label for="state" class="formbold-form-label"> State/Prvince </label>
                    <input
                      type="text"
                      name="state"
                      id="state"
                      class="formbold-form-input"
                    />
                  </div>
                  <div>
                    <label for="country" class="formbold-form-label"> Country </label>
                    <input
                      type="text"
                      name="country"
                      id="country"
                      class="formbold-form-input"
                    />
                  </div>

                </div>
          
               
          
                <div class="formbold-checkbox-wrapper">
                  <label for="supportCheckbox" class="formbold-checkbox-label">
                    <div class="formbold-relative">
                      <input
                        type="checkbox"
                        id="supportCheckbox"
                        class="formbold-input-checkbox"
                      />
                      <div class="formbold-checkbox-inner">
                        <span class="formbold-opacity-0">
                          <svg
                            width="11"
                            height="8"
                            viewBox="0 0 11 8"
                            fill="none"
                            class="formbold-stroke-current"
                          >
                            <path
                              d="M10.0915 0.951972L10.0867 0.946075L10.0813 0.940568C9.90076 0.753564 9.61034 0.753146 9.42927 0.939309L4.16201 6.22962L1.58507 3.63469C1.40401 3.44841 1.11351 3.44879 0.932892 3.63584C0.755703 3.81933 0.755703 4.10875 0.932892 4.29224L0.932878 4.29225L0.934851 4.29424L3.58046 6.95832C3.73676 7.11955 3.94983 7.2 4.1473 7.2C4.36196 7.2 4.55963 7.11773 4.71406 6.9584L10.0468 1.60234C10.2436 1.4199 10.2421 1.1339 10.0915 0.951972ZM4.2327 6.30081L4.2317 6.2998C4.23206 6.30015 4.23237 6.30049 4.23269 6.30082L4.2327 6.30081Z"
                              stroke-width="0.4"
                            ></path>
                          </svg>
                        </span>
                      </div>
                    </div>
                    I agree to the defined
                    <a href="#"> terms, conditions, and policies</a>
                  </label>
                </div>
          
                <button class="formbold-btn">Post Job</button>
              </form>
            </div>
          </div>
          <style>
            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
            * {
              margin: 0;
              padding: 0;
              box-sizing: border-box;
            }
            body {
              font-family: 'Inter', sans-serif;
            }
            .formbold-mb-3 {
              margin-bottom: 15px;
            }
            .formbold-relative {
              position: relative;
            }
            .formbold-opacity-0 {
              opacity: 0;
            }
            .formbold-stroke-current {
              stroke: currentColor;
            }
            #supportCheckbox:checked ~ div span {
              opacity: 1;
            }
          
            .formbold-main-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 48px;
            }
          
            .formbold-form-wrapper {
              margin: 0 auto;
              max-width: 570px;
              width: 100%;
              background: white;
              padding: 40px;
            }
          
            .formbold-img {
              margin-bottom: 45px;
            }
          
            .formbold-form-title {
              margin-bottom: 30px;
            }
            .formbold-form-title h2 {
              font-weight: 600;
              font-size: 28px;
              line-height: 34px;
              color: #07074d;
            }
            .formbold-form-title p {
              font-size: 16px;
              line-height: 24px;
              color: #536387;
              margin-top: 12px;
            }
          
            .formbold-input-flex {
              display: flex;
              gap: 20px;
              margin-bottom: 15px;
            }
            .formbold-input-flex > div {
              width: 50%;
            }
            .formbold-form-input {
              text-align: center;
              width: 100%;
              padding: 13px 22px;
              border-radius: 5px;
              border: 1px solid #dde3ec;
              background: #ffffff;
              font-weight: 500;
              font-size: 16px;
              color: #536387;
              outline: none;
              resize: none;
            }
            .formbold-form-input:focus {
              border-color: #6a64f1;
              box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
            }
            .formbold-form-label {
              color: #536387;
              font-size: 14px;
              line-height: 24px;
              display: block;
              margin-bottom: 10px;
            }
          
            .formbold-checkbox-label {
              display: flex;
              cursor: pointer;
              user-select: none;
              font-size: 16px;
              line-height: 24px;
              color: #536387;
            }
            .formbold-checkbox-label a {
              margin-left: 5px;
              color: #6a64f1;
            }
            .formbold-input-checkbox {
              position: absolute;
              width: 1px;
              height: 1px;
              padding: 0;
              margin: -1px;
              overflow: hidden;
              clip: rect(0, 0, 0, 0);
              white-space: nowrap;
              border-width: 0;
            }
            .formbold-checkbox-inner {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20px;
              height: 20px;
              margin-right: 16px;
              margin-top: 2px;
              border: 0.7px solid #dde3ec;
              border-radius: 3px;
            }
          
            .formbold-btn {
              font-size: 16px;
              border-radius: 5px;
              padding: 14px 25px;
              border: none;
              font-weight: 500;
              background-color: #6a64f1;
              color: white;
              cursor: pointer;
              margin-top: 25px;
            }
            .formbold-btn:hover {
              box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
            }
          </style>
        <section class="featured-job-area feature-padding">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Recent Job</span>
                            <h2>Featured Jobs</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="job_details.ejs"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="/jobdetail"><h4>software developer</h4></a>
                                    <ul>
                                        <li>tech company</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Tamilnadu, India</li>
                                        <li>$3500 - $4000</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="/jobdetail">Full Time</a>
                                <span>7 hours ago</span>
                            </div>
                        </div>
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="/jobdetail"><img src="assets/img/icon/job-list2.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="/jobdetail"><h4>software developer</h4></a>
                                    <ul>
                                        <li>tech company</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Tamilnadu, India</li>
                                        <li>$3500 - $4000</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="/jobdetail">Full Time</a>
                                <span>7 hours ago</span>
                            </div>
                        </div>
                         <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="/jobdetail"><img src="assets/img/icon/job-list3.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="/jobdetail"><h4>software developer</h4></a>
                                    <ul>
                                        <li>tech company</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Tamilnadu, India</li>
                                        <li>$3500 - $4000</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="/jobdetail">Full Time</a>
                                <span>7 hours ago</span>
                            </div>
                        </div>
                         <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="/jobdetail"><img src="assets/img/icon/job-list4.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="/jobdetail"><h4>software developer</h4></a>
                                    <ul>
                                        <li>tech company</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Tamilnadu, India</li>
                                        <li>$3500 - $4000</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="/jobdetail">Full Time</a>
                                <span>7 hours ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
       
      
       
                  
                </div>
            </div>
        </div>
        <!-- Blog Area End -->

    </main>
  

  <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        <script>
           document.querySelector("#post").addEventListener("submit", e => {
       
              alert("Jobs posted")
                });
        </script>
    </div>
    </body>
</html>